div.itemHeader {
	    margin-top: 6px;
    }
.style-itemlist{
	position: relative;
	width: 93%;
	margin-bottom: 20px !important;
}
.itemContainerLast .style-itemlist,
.itemContainerLast .style-project.groupPrimary{
	float: right;
}
.style-itemlist a{
	text-decoration: none;
	color: #000;
}
.style-itemlist-title a{
	color: #000;
	font-size: 130%;
}

.style-itemlist-intro img{
	width: 50%;
	height: auto;
	float: left;
	margin-right: 10px;
}
.style-itemlist-intro span{
	color: #818181;
    	padding: 0 0 5px 0;
    	display: inline;
        line-height: 19px;
}
.style-itemlist-intro-content{
	line-height: 25px;
}
.style-itemlist-readmore a{
	text-decoration: none;
	background: #1c5077;
	color: #FFF !important;
	padding: 3px 5px;
	font-weight: normal;
}
.style-itemlist-readmore{
	display: inline;
    position: relative;
    float: right;
    bottom: 27px;
}
/* ------------------------- */
.style-project{
	position: relative;
	width: 90%;
	margin-bottom: 20px !important;
}
.style-project-intro-content{
	line-height: 23px !important;
}
.style-project a{
	text-decoration: none;
	color: #000;
}
div.catItemHeader .cna > span{
	display: inline-block;
	color: #818181;
    /* padding: 10px 0 5px 0; */
}
.groupLeading{
	width: 98.8%;
}
.groupLeading img{
	width: 45.2% !important;
}
.style-project img {
    float: left;
    width: 30%;
    margin-right: 10px;
}
/* ------------------------- */
#style-monthly-cat{
	margin-top: 50px;
}
#style-monthly{
    width: 80%;
	text-align: center;
	margin-bottom: 0;
}
#style-monthly a{
	color: #000;
    text-decoration: none;
}
#style-monthly .catItemImageBlock{
	padding: 0;
}
#style-monthly .catItemTitle{
	padding: 10px 0 6px 0;
}
.style-monthly-hr{
	border: 3px solid #ccc;
}
#style-monthly .catItemImage img{
    border: 1px solid #000;
}
/* ------------------------- */
div.k2Pagination ul li a{
    margin: 0 3px;
    border: 0px solid #ddd;
    color: #000;
}

@media only screen and (max-width: 600px) {
	.style-itemlist{
		position: relative;
		width: 100%;
		margin-bottom: -6px !important;
	}
	.style-itemlist-intro img{
		width: 100%;
		margin-right: 0px;
		margin-bottom: 15px;
	}
	.style-itemlist-intro-content{
		font-size: 130%;
		line-height: 35px;
	}
	.groupLeading img{
		width: 100% !important;
		margin-bottom: 15px;
	}
}

