html,
body {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Noto Sans TC', sans-serif !important;
}

.youle {
	position: relative;
	max-width: 1200px;
	margin: 77px auto 0 auto;
	position: relative;
}

.logo {
	position: absolute;
	max-width: 100px;
	top: 35px;
	left: 40px;
}

img {
	width: 100%;
}

.hrse {
	width: 100%;
	height: 1px;
	background: #ffffff73;
	display: grid;
	margin: 10px auto;

}

.hrse1 {
	float: left;
	display: inline;
}

.hrse2 {
	/* width: 56%; */
	float: left;
}

.hrse3 {
	width: 100%;
	height: 1px;
	background: #ffffff73;
	display: block;
	margin: 10px auto;
}

.p4-backhome {
	width: 12%;
	position: absolute;
	right: 7%;
	top: 0;
}

#div3 {
	cursor: pointer;
	font-size: 22px;
	color: rgb(255, 255, 255);
	text-align: center;
}


#load {
	opacity: 1;
	width: 100%;
	height: 100%;
	position: fixed;
	background: rgb(255, 255, 255);
	margin: 0px;
	z-index: 99999;
	top: 0;
}

#div31 {
	padding: 7px 22px;
	background: #00b8ff00;
	border: 0 none;
	cursor: pointer;
	-webkit-border-radius: 5px;
	border-radius: 21px;
	font-size: 16px;
	color: rgb(255, 255, 255);
	margin-left: 42px;
	box-shadow: 0px 0px 3px #FFF;
}

#div31:hover {
	background: #fff;
	color: #00b8ff;
}

#piechart {
	width: 100%;
	height: 450px;
}

.visualization_wrap {
	border: 1px solid gray;
	position: relative;
	padding-bottom: 80%;
	height: 0;
	overflow: hidden;
}

.visualization {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 500px;
}


.earth {
	display: inline-block;
	height: 343px;
	/* background: #ddd; */
	width: 404px;
	display: inline-block;
	/* max-width: 344px; */
	/* margin-right: 100px; */
	margin-top: 20px;
}

.chart_div1 {
	width: 32%;
	position: relative;
}

.chart_div1::after {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-image: url(../image/earh1.gif);
	background-size: 61%;
	background-repeat: no-repeat;
	background-position: center;
	margin: -30px;
	z-index: 0;
	pointer-events: none;
}

.chart_div2 {
	width: 32%;
	position: relative;
}

.chart_div2::after {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-image: url(../image/earh2.gif);
	background-size: 61%;
	background-repeat: no-repeat;
	background-position: center;
	margin: -30px;
	z-index: 0;
	pointer-events: none;
}

.chart_div3 {
	width: 32%;
	position: relative;
}

.chart_div3::after {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-image: url(../image/earh3.gif);
	background-size: 61%;
	background-repeat: no-repeat;
	background-position: center;
	margin: -30px;
	z-index: 0;
	pointer-events: none;
}

.chart_div4 {
	width: 32%;
	position: relative;
}

.chart_div4::after {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-image: url(../image/earh4.gif);
	background-size: 70%;
	background-repeat: no-repeat;
	background-position: center;
	/* margin: -30px; */
	z-index: 0;
	pointer-events: none;
	width: 100%
}

.chart_div5 {
	width: 32%;
	position: relative;
}

.chart_div5::after {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-image: url(../image/earh5.gif);
	background-size: 61%;
	background-repeat: no-repeat;
	background-position: center;
	margin: -30px;
	z-index: 0;
	pointer-events: none;
}

.veatsum {
	max-width: 660px;
	width: 58%;
	display: inline-block;
	vertical-align: top;
	font-size: 30px;
	margin-top: 20px;
	padding: 10px;
	line-height: 1.5;
	color: #fff;
	font-size: 3vmin;
}


.txt0 {
	font-size: 30px;
}

.txt0-1 {
	/* font-family: DFKai-sb; */
	/* white-space:nowrap; */
	font-size: 35px;
}


.txt1 {
	font-size: 23px;
}

.txt2 {
	font-size: 35px;
	font-weight: 900;
}

.txt3 {
	font-size: max(1vw, 20px);
}

.divtext {
	color: #fff;
	font-size: 4vmin;
	line-height: 1.5;
	position: relative;
	margin: auto;
}

.divtext img {
	width: 28%;
}
/* 茹素天數 */
nav li {
	text-align: left;
	list-style-type: none;
	width: 100%;
}

nav ul {
	columns: 2;
	-webkit-columns: 2;
	-moz-columns: 2;
	width: 100%;
}

.vetday {
	width: 65%;
	float: left;
	margin-top: 5px;
}
.vetday > img{
	width: 11%;
	max-width: 28px;
}

.vettotle {
	/* width: 27%; */
	float: left;
}


@media (max-width: 1280px) {
	.veatsum {
		/* max-width: 500px; */
		position: absolute;
		right: 5%;
		width: 52%;
	}

	.divtext img {
		width: 35%;
	}
	.vetday {
		width: 60%;
	}
}
@media (max-width: 1100px) {
.txt1 {
	font-size: 20px;
}
.txt2 {
	font-size: 28px;
}
}
@media (max-width: 964px) {
	.veatsum {
		/* position: unset; */
		width: 43%;
		max-width: 955px;
	}

	.divtext img {
		width: 42%;
	}
	.txt0 {
		font-size: 19px;
	}

	.txt0-1 {
		/* font-family: DFKai-sb; */
		/* white-space:nowrap; */
		font-size: 29px;
	}
	.txt1 {
		font-size: 14px;
	}

	.txt2 {
		font-size: 19px;
	}
		.vetday {
			margin-top: 0px;
			width: 63%;
		}
		.vettotle{
			/* width: 35%; */
		}
}

@media (max-width: 770px) {
	.veatsum {
		/* position: unset; */
		width: 50%;
		max-width: 955px;
	}

	.earth {
		width: 40%;
		height: 38vw;
	}

	.divtext {
		font-size: 5vmin;
		top: 50px;
	}

	.divtext img {
		width: 37%;
	}

	.chart_div4::after {
		background-size: 80%;
	}
}
@media (max-width: 720px) {
.vetday {
	margin-top: 3%;
}
}
@media screen and (max-width: 797px) {
	nav ul {
		columns: 1;
		-webkit-columns: 1;
		-moz-columns: 1;
	}

	.txt1 {
		font-size: 25px;
	}

	.txt2 {
		font-size: 29px;
	}
}
@media (max-width: 600px) {
	.txt0 {
		/* font-family: DFKai-sb; */
		/* white-space:nowrap; */
		font-size: 5vmin;
	}

	.txt0-1 {
		/* font-family: DFKai-sb; */
		/* white-space:nowrap; */
		font-size: 6vmin;
	}

	.txt1 {
		font-size: 20px;
	}

	.txt2 {
		font-size: 31px;
	}

	.divtext img {
		width: 90%;
		max-width: 236px;
	}

	.p4-backhome {
		position: absolute;
		right: 7%;
		width: 36%;
		top: -45px;
	}

	.hrse {
		width: 97%;
	}

	.hrse1 {
		width: 100%;
	}

	.earth {
		width: 100%;
		height: 62vw;
		/* background: red; */
	}

	.veatsum {
		position: unset;
		width: 99%;
		right: 0%;
		display: block;
		font-size: 25px;
		padding: 0px;
	}

	#piechart {
		height: 600px;
	}
	.chart_div4::after {
		background-size: 54%;
	}

}
/* 彈跳視窗 */
.ad2019ncov-horpop-block {
	display: none;
	max-width: 1330px;
	height: 80%;
	overflow: hidden;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	z-index: 102;
	padding-bottom: 60px;
	text-align: center;
	background-image: url(../image/bg1.jpg);

}

.ad2019ncov-horpop-mask {
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.6);
	z-index: 102;
}

.ad2019ncov-horpop-close {
	width: 32px;
	font-size: 200%;
	position: absolute;
	right: 0;
	cursor: pointer;
	z-index: 1;
}

.ad2019ncov-horpop-closeicon {
	position: fixed;
	margin: 2px 0 0 -21px;
}

.ad2019ncov-horpop-block::-webkit-scrollbar {
	width: 0 !important;
}

.ad2019ncov-horpop-block {
	-ms-overflow-style: none;
}

.ad2019ncov-horpop-block {
	overflow: -moz-scrollbars-none;
}

.ad2019ncov-horpop-img {
	margin-top: 20px;
	width: 93%;
}

.ad2019ncov-hor-iconlist {
	margin: 0 auto;
	max-width: 100%;
	font-size: 0;
	position: absolute;
	right: 10px;
	bottom: 10px;
}

.ad2019ncov-hor-line {
	display: inline-block;
	margin: 5px;
	vertical-align: middle;
}

.ad2019ncov-hor-fb {
	display: inline-block;
	vertical-align: middle;
}

.ad2019ncov-hor-readmore {
	display: inline-block;
	vertical-align: middle;
	margin-right: 10px;
}

.ad2019ncov-hor-sendcard {
	display: inline-block;
	vertical-align: middle;
}

.ad2019ncov-hor-line:hover,
.ad2019ncov-hor-fb:hover,
.ad2019ncov-hor-readmore:hover,
.ad2019ncov-horpop-closeicon:hover,
.ad2019ncov-hor-sendcard:hover {
	opacity: 0.6;
}

.ad2019ncov-hor-iconlist a {
	cursor: pointer;
}

@-moz-document url-prefix() {
	.ad2019ncov-horpop-block {
		display: none;
	}
}

_::-webkit-full-page-media,
_:future,
:root .ad2019ncov-horpop-block {
	display: none;
}


@media (min-width: 801px) and (max-height: 800px) {
	.ad2019ncov-horpop-block {
		max-width: 1230px;
	}
}

@media (min-width: 801px) and (max-height: 740px) {
	.ad2019ncov-horpop-block {
		max-width: 1130px;
	}
}

@media (min-width: 801px) and (max-height: 680px) {
	.ad2019ncov-horpop-block {
		max-width: 1030px;
	}
}

@media (min-width: 801px) and (max-height: 630px) {
	.ad2019ncov-horpop-block {
		max-width: 930px;
	}
}

@media (min-width: 801px) and (max-height: 580px) {
	.ad2019ncov-horpop-block {
		max-width: 830px;
	}
}

@media (min-width: 801px) and (max-height: 520px) {
	.ad2019ncov-horpop-block {
		max-width: 730px;
	}
}

@media only screen and (max-width: 1360px) {
	.ad2019ncov-horpop-block {
		width: 98%;
	}
}

