body{
	font-family: 'Noto Sans TC', sans-serif !important;
}
#b-footer{
	padding: 20px 0 20px 0;
    background: #767676;
    border-top: 5px solid rgba(96, 94, 94, 1);
    width: 100%;
    color: #fff;
}
.footer2 > a{
	text-decoration: none;
    color: #fff;
}
.footer-content{
	text-align: center;
}
