.hero-below-container {
  display: none; /* Hidden by default */
  padding: 20px;
  text-align: center;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  font-weight: 500;
}

@media (max-width: 768px) {
  .hero-below-container {
    height: auto; /* Adjust height based on content */
    padding-bottom: 20px; /* Reduced padding */
    padding-top: 20px;
    display: block; /* Show on small screens */
  }

  .hero-below-container .hero-description {
    margin: 10px 0; /* Reduced margin for description */
  }

  .hero-below-container .arrow-btn {
    margin-top: 10px; /* Reduced margin for arrow button */
  }
}
